

#notification-message {
    background-color: #818285;
    color: #fff;
    position: absolute;
    width: 100%;
    min-height: 80px;
    right: 0;
    z-index: 100;
    bottom: 0;
    display: none; /* Hidden until invoked */
}

    #notification-message #notification-message-header {
        font-size: medium;
        margin-bottom: 10px;
    }

    #notification-message #notification-message-close {
        background-image: url("Close.png");
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
    }


    /* Social media icons at login
----------------------------------------------------------*/
.loginButtons a {
    border: none;
    height: 48px;
    width: 48px;
    cursor: pointer;
    margin-right: 5px;
    float: left;
}
.icon-o365 {
    background: url('/content/icons/outlook.png');
}
.icon-microsoft {
    background: url('/content/icons/windows 8.png');
}
.icon-facebook {
    background: url('/content/icons/facebook.png');
}
.icon-dropbox {
    background: url('/content/icons/dropbox.png');
}
.icon-google {
    background: url('/content/icons/google.png');
}
