
@using Newtonsoft.Json;

@{
    ViewBag.Title = "Authorization Complete";
}

<h2>Authorization Complete</h2>

<p>Please wait until this dialog closes</p>

@section scripts {
    
    <script>
        var oauthResult = @Html.Raw(ViewBag.AuthState);
    </script>
    <script src="~/Scripts/Add-in-Authorize-Complete.js" type="text/javascript"></script>


    }